body {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

#header,
#designed {
  background-image:url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3{
font-size: 23px;
}

p {
  font-size:14px;
  font-weight: normal;
}

a {
  font-size: 18px;
}

#footer,
#designed,
h1 {
  color: white;
}
#contact {
  color: black;
  font-weight: normal;
}
#footer {
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}
