body,
header {

  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}


/* Header styles */

header img {
  padding-left: 10px;
  height: 50px;
  width: auto;
}

nav span {
  padding: 20px 20px;
  text-decoration: underline;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  background-color: black;
}

/* First Container*/

.container1 {
  display: flex;
}
  #mainimg {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
}

.caption {
  display: block;
  position: relative;
  top: 80%;
  width: 90%;
  opacity: 0.75;
}
